* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 14px;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;

    font-family: 'Roboto', sans-serif;

    background-color: black;
}


@import "blocks/reviews";
@import "blocks/container";
@import "blocks/auth";
@import "blocks/vendor/slick.scss";